#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#github-container {
  display: flex;
}

ul {
  list-style: none;
}

#repos-list {
  margin: 0;
    position: absolute;
    top: 650px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
 } 
  
